@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Departments";
}

<div class="row" style="padding-top: 2%;">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Department Details</h2>
                <a class=" btn btn-primary btn-md " asp-action="AddDepartment" asp-controller="Department">
                    Add Department
                </a>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Department Name</th>
                                <th>Incharge Name</th>
                                <th>Administrator Name</th>
                                <th>Created</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Information Technology</td>
                                <td>Dr. Naveed Jhamat</td>
                                <td>Rana Qaiser</td>
                                <td>12 May 2017</td>
                                <td class="font-weight-small"><div class="badge badge-success">Completed</div></td>
                          
                                <td class="font-weight-small"><div class="badge badge-warning">Pending</div></td>
                            
                                <td class="font-weight-small"><div class="badge badge-danger">Cancelled</div></td>
                                <td>
                                    <a class="btn btn-info btn-sm" asp-action="EditDepartment" asp-controller="Department">Edit</a> |
                                    <a class="btn btn-danger btn-sm" asp-action="DeleteDepartment" asp-controller="Department">Delete</a>
                                </td>
                            </tr>
                           
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
