@{
   // var imagePath = ViewData["ImagePath"] as byte[];

}

@using Microsoft.AspNetCore.Identity
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EduSpace</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/FYP.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="/vendors/feather/feather.css">
    <link rel="stylesheet" href="/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="/vendors/select2/select2.min.css">
    <link rel="stylesheet" href="/vendors/select2-bootstrap-theme/select2-bootstrap.min.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="/vendors/datatables.net-bs4/dataTables.bootstrap4.css" />
    <link rel="stylesheet" type="text/css" href="/js/select.dataTables.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/css/vertical-layout-light/style.css">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!-- endinject -->
    <link rel="shortcut icon" href="/images/favicon.png" />
    <!-- <script src="https://kit.fontawesome.com/0fd7b457b6.js" crossorigin="anonymous"></script> -->


</head>
<body>
    <div class="container-scroller">
        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class="navbar-brand brand-logo mr-5" asp-action="Index" asp-controller="Dashboard"><img src="/images/logo.svg" class="mr-2" alt="logo" /></a>
                <a class="navbar-brand brand-logo-mini" asp-action="Index" asp-controller="Dashboard"><img src="/images/logo-mini.svg" alt="logo" /></a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="icon-menu"></span>
                </button>
             @*   <ul class="navbar-nav mr-lg-2">
                    <li class="nav-item nav-search d-none d-lg-block">
                        <div class="input-group">
                            <div class="input-group-prepend hover-cursor" id="navbar-search-icon">
                                <span class="input-group-text" id="search">
                                    <i class="icon-search"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control" id="navbar-search-input" placeholder="Search now" aria-label="search" aria-describedby="search">
                        </div>
                    </li>
                </ul>*@
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item dropdown">
                        <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
                            <i class="icon-bell mx-0"></i>
                            <span class="count"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                            <p class="mb-0 font-weight-normal float-left dropdown-header">Notifications</p>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-success">
                                        <i class="ti-info-alt mx-0"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <h6 class="preview-subject font-weight-normal">Application Error</h6>
                                    <p class="font-weight-light small-text mb-0 text-muted">
                                        Just now
                                    </p>
                                </div>
                            </a>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-warning">
                                        <i class="ti-settings mx-0"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <h6 class="preview-subject font-weight-normal">Settings</h6>
                                    <p class="font-weight-light small-text mb-0 text-muted">
                                        Private message
                                        <menu></menu>
                                    </p>
                                </div>
                            </a>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-info">
                                        <i class="ti-user mx-0"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <h6 class="preview-subject font-weight-normal">New user registration</h6>
                                    <p class="font-weight-light small-text mb-0 text-muted">
                                        20 days ago
                                    </p>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li class="nav-item nav-profile dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                           <img src="\UserImages\be5aea481f.jpg" alt="profile"/>
                         @*   <img src="data:image;base64,@Convert.ToBase64String(imagePath)" alt="profile" />*@
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                            <a class="dropdown-item" asp-action="Logout" asp-controller="Auth">
                                <i class="icon-head text-primary"></i>
                                My Profile
                            </a>
                      
                            <a class="dropdown-item" asp-action="Logout" asp-controller="Auth">
                                <i class="ti-power-off text-primary"></i>
                                Logout
                            </a>
                        </div>
                    </li>
                    <li class="nav-item nav-settings d-none d-lg-flex">
                      
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="icon-menu"></span>
                </button>
            </div>
        </nav>
        <div class="container-fluid page-body-wrapper">

            <!-- partial -->
            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Index" asp-controller="Dashboard">
                            <i class="icon-grid menu-icon"></i>
                            <span class="menu-title">Dashboard</span>
                        </a>
                    </li>
                    @{
                        // Only render the content if the has the "SuperAdmin" role
                        if (User.IsInRole("SuperAdmin"))
                        {

                            <li class="nav-item">
                                <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                                    <i class="icon-head menu-icon"></i>
                                    <span class="menu-title">Users</span>
                                    <i class="menu-arrow"></i>
                                </a>
                                <div class="collapse" id="auth">
                                    <ul class="nav flex-column sub-menu">
                                        <li class="nav-item"> <a class="nav-link" asp-action="ViewAdmins" asp-controller="Admin"> Administrators </a></li>
                                        <li class="nav-item"> <a class="nav-link" asp-action="ViewTeacher" asp-controller="Teacher"> Teachers </a></li>
                                        <li class="nav-item"> <a class="nav-link" asp-action="ViewStudents" asp-controller="Student"> Students </a></li>

                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-action="ViewDepartments" asp-controller="Department">
                                    <i class="icon-grid-2 menu-icon"></i>
                                    <span class="menu-title">Departments</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-action="ViewPrograms" asp-controller="Program">
                                    <i class="icon-layout menu-icon"></i>
                                    <span class="menu-title">Programs</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="collapse" asp-action="ViewDepartments" asp-controller="Department" aria-expanded="false" aria-controls="form-elements">
                                    <i class="icon-columns menu-icon"></i>
                                    <span class="menu-title">Programs</span>
                                    <i class="menu-arrow"></i>
                                </a>
                                <div class="collapse" id="form-elements">
                                    <ul class="nav flex-column sub-menu">
                                        <li class="nav-item"><a class="nav-link" asp-action="ViewDepartments" asp-controller="Department">Undergruadate</a></li>
                                        <li class="nav-item"><a class="nav-link" asp-action="ViewDepartments" asp-controller="Department">Gruadate</a></li>
                                    </ul>
                                </div>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" asp-action="ViewDepartments" asp-controller="Department">
                                    <i class="icon-layout menu-icon"></i>
                                    <span class="menu-title">Courses</span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" asp-action="ViewDepartments" asp-controller="Department">
                                    <i class="icon-layout menu-icon"></i>
                                    <span class="menu-title">Timetable</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-action="ViewDepartments" asp-controller="Department">
                                    <i class="icon-layout menu-icon"></i>
                                    <span class="menu-title">Announcements</span>
                                </a>
                            </li>
                          
                            <li class="nav-item">
                                <a class="nav-link" asp-action="ViewDepartments" asp-controller="Department">
                                    <i class="icon-paper menu-icon"></i>
                                    <span class="menu-title">About</span>
                                </a>
                            </li>
                        }
                        else if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-action="ViewDepartments" asp-controller="Department">
                                    <i class="icon-grid-2 menu-icon"></i>
                                    <span class="menu-title">Departments</span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" asp-action="ViewTeachers" asp-controller="Teacher">
                                    <i class="icon-grid-2 menu-icon"></i>
                                    <span class="menu-title">Teachers</span>
                                </a>
                            </li>
                               <li class="nav-item">
                                <a class="nav-link" asp-action="ViewStudents" asp-controller="Student">
                                    <i class="icon-grid-2 menu-icon"></i>
                                    <span class="menu-title">Students</span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" data-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
                                    <i class="icon-columns menu-icon"></i>
                                    <span class="menu-title">Programs</span>
                                    <i class="menu-arrow"></i>
                                </a>
                                <div class="collapse" id="form-elements">
                                    <ul class="nav flex-column sub-menu">
                                        <li class="nav-item"><a class="nav-link" >Undergruadate</a></li>
                                        <li class="nav-item"><a class="nav-link">Gruadate</a></li>
                                    </ul>
                                </div>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="#ui-basic">
                                    <i class="icon-layout menu-icon"></i>
                                    <span class="menu-title">Courses</span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="#ui-basic">
                                    <i class="icon-layout menu-icon"></i>
                                    <span class="menu-title">Timetable</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#ui-basic">
                                    <i class="icon-layout menu-icon"></i>
                                    <span class="menu-title">Announcements</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#ui-basic">
                                    <i class="icon-layout menu-icon"></i>
                                    <span class="menu-title">Teachers</span>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-action="ViewDepartments" asp-controller="Department">
                                    <i class="icon-grid-2 menu-icon"></i>
                                    <span class="menu-title">Departments</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
                                    <i class="icon-columns menu-icon"></i>
                                    <span class="menu-title">Programs</span>
                                    <i class="menu-arrow"></i>
                                </a>
                                <div class="collapse" id="form-elements">
                                    <ul class="nav flex-column sub-menu">
                                        <li class="nav-item"><a class="nav-link" href="pages/forms/basic_elements.html">Undergruadate</a></li>
                                        <li class="nav-item"><a class="nav-link" href="pages/forms/basic_elements.html">Gruadate</a></li>
                                    </ul>
                                </div>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="#ui-basic">
                                    <i class="icon-layout menu-icon"></i>
                                    <span class="menu-title">Courses</span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="#ui-basic">
                                    <i class="icon-layout menu-icon"></i>
                                    <span class="menu-title">Timetable</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#ui-basic">
                                    <i class="icon-layout menu-icon"></i>
                                    <span class="menu-title">Announcements</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#ui-basic">
                                    <i class="icon-layout menu-icon"></i>
                                    <span class="menu-title">Teachers</span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                                    <i class="icon-layout menu-icon"></i>
                                    <span class="menu-title">UI Elements</span>
                                    <i class="menu-arrow"></i>
                                </a>
                                <div class="collapse" id="ui-basic">
                                    <ul class="nav flex-column sub-menu">
                                        <li class="nav-item"> <a class="nav-link" href="pages/ui-features/buttons.html">Buttons</a></li>
                                        <li class="nav-item"> <a class="nav-link" href="pages/ui-features/dropdowns.html">Dropdowns</a></li>
                                        <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Typography</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
                                    <i class="icon-columns menu-icon"></i>
                                    <span class="menu-title">Form elements</span>
                                    <i class="menu-arrow"></i>
                                </a>
                                <div class="collapse" id="form-elements">
                                    <ul class="nav flex-column sub-menu">
                                        <li class="nav-item"><a class="nav-link" href="pages/forms/basic_elements.html">Basic Elements</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
                                    <i class="fa-solid fa-user"></i>
                                    <span class="menu-title">Charts</span>
                                    <i class="menu-arrow"></i>
                                </a>
                                <div class="collapse" id="charts">
                                    <ul class="nav flex-column sub-menu">
                                        <li class="nav-item"> <a class="nav-link" href="pages/charts/chartjs.html">ChartJs</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
                                    <i class="icon-grid-2 menu-icon"></i>
                                    <span class="menu-title">Tables</span>
                                    <i class="menu-arrow"></i>
                                </a>
                                <div class="collapse" id="tables">
                                    <ul class="nav flex-column sub-menu">
                                        <li class="nav-item"> <a class="nav-link" href="pages/tables/basic-table.html">Basic table</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="collapse" href="#icons" aria-expanded="false" aria-controls="icons">
                                    <i class="icon-contract menu-icon"></i>
                                    <span class="menu-title">Icons</span>
                                    <i class="menu-arrow"></i>
                                </a>
                                <div class="collapse" id="icons">
                                    <ul class="nav flex-column sub-menu">
                                        <li class="nav-item"> <a class="nav-link" href="pages/icons/mdi.html">Mdi icons</a></li>
                                    </ul>
                                </div>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" data-toggle="collapse" href="#error" aria-expanded="false" aria-controls="error">
                                    <i class="icon-ban menu-icon"></i>
                                    <span class="menu-title">Error pages</span>
                                    <i class="menu-arrow"></i>
                                </a>
                                <div class="collapse" id="error">
                                    <ul class="nav flex-column sub-menu">
                                        <li class="nav-item"> <a class="nav-link" href="pages/samples/error-404.html"> 404 </a></li>
                                        <li class="nav-item"> <a class="nav-link" href="pages/samples/error-500.html"> 500 </a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="pages/documentation/documentation.html">
                                    <i class="icon-paper menu-icon"></i>
                                    <span class="menu-title">About</span>
                                </a>
                            </li>


                        }

                    }
                    
             
                </ul>
            </nav>
            <div class="main-panel">
                <div class="content-wrapper" style="padding-top: 0%;">
                    @RenderBody()
                </div>
              
            </div>
          
        </div>

     </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script src="~/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="~/vendors/chart.js/Chart.min.js"></script>
    <script src="~/vendors/datatables.net/jquery.dataTables.js"></script>
    <script src="~/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
    <script src="~/js/dataTables.select.min.js"></script>

    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/js/off-canvas.js"></script>
    <script src="~/js/hoverable-collapse.js"></script>
    <script src="~/js/template.js"></script>
    <script src="~/js/settings.js"></script>
    <script src="~/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="~/js/dashboard.js"></script>
    <script src="~/js/Chart.roundedBarCharts.js"></script>
    <script src="~/js/file-upload.js"></script>
    <script src="~/js/typeahead.js"></script>
    <script src="~/js/select2.js"></script>

    <!-- endinject -->
    <!-- Plugin js for this page -->

    <script src="~/vendors/typeahead.js/typeahead.bundle.min.js"></script>
    <script src="~/vendors/select2/select2.min.js"></script>



</body>
</html>
