
@using Microsoft.AspNetCore.Identity
@{

    ViewData["Title"] = "Dashboard";

}
<div class="row">
            <div class="col-md-12 grid-margin">
                <div class="row">
                     <div class="weather-info">
                        <div class="d-flex" id="myweatherdetail">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 grid-margin">
                <div class="row">
                    <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                <h3 class="font-weight-bold">Welcome <span style="color: #54528e;">@Context.Session.GetString("FullName") </span></h3><p>(@Context.Session.GetString("UserRole"))</p>
                        <h6 class="font-weight-normal mb-0">All systems are running smoothly! </h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card tale-bg">
                    <div class="card-people mt-auto " style="padding-top: 0%;">
                        <img src="/images/dashboard/people.svg" alt="people">
                    </div>
                </div>
            </div>
  
            <div class="col-md-6 grid-margin transparent">
                <div class="row">
                    <div class="col-md-6 mb-4 stretch-card transparent">
                        <div class="card card-tale">
                            <div class="card-body">
                                <p class="mb-4">Number of Students</p>
                        <p class="fs-30 mb-2" id="StudentCount">Loading...</p>
                              
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4 stretch-card transparent">
                        <div class="card card-dark-blue">
                            <div class="card-body">
                                <p class="mb-4">Number of Teachers</p>
                        <p class="fs-30 mb-2" id="TeacherCount">Loading...</p>
                             
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-4 mb-lg-0 stretch-card transparent">
                        <div class="card card-light-blue">
                            <div class="card-body">
                                <p class="mb-4">Number of Departments</p>
                        <p class="fs-30 mb-2" id="departmentCount">Loading...</p>
                             
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 stretch-card transparent">
                        <div class="card card-light-danger">
                            <div class="card-body">
                                <p class="mb-4">Number of Programs</p>
                        <p class="fs-30 mb-2" id="ProgramCount">Loading... </p>
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
  
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <p class="card-title">Departments</p>
                    <a asp-action="ViewDepartments" asp-controller="Department" class="text-info">View all</a>
                </div>
                <p class="font-weight-500">These are the active departmants</p>
            </div>
            <div class="col-md-4 grid-margin grid-margin-md-0 stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title"><span style="color: #54528e;">Information Technology</span></h4>
                        <ul class="list-star">
                            <li>Lorem ipsum dolor sit amet</li>
                            <li>Consectetur adipiscing elit</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
             
</div>


<footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">2023 © University of the Punjab, Gujranwala Campus. All Rights Reserved <a href="https://pugc.edu.pk/website/" target="_blank">PUGC</a> </span>
        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Happy Club <i class="ti-heart text-danger ml-1"></i></span>
    </div>
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Distributed by <a href="https://www.themewagon.com/" target="_blank">Mission Respect</a></span>
    </div>
</footer>
        <!-- main-panel ends -->

<script>
    $(document).ready(function () {
        // Make an AJAX GET request to the API
        $.ajax({
            url: 'https://localhost:7031/department/GetDepartmentCount',
            type: 'GET',
            success: function (data) {
                // Update the department count in the card
                $('#departmentCount').text(data);
            },
            error: function (xhr, status, error) {
                console.error(error);
                $('#departmentCount').text('Error');
            }
        });
    });

    $(document).ready(function () {
        // Make an AJAX GET request to the API
        $.ajax({
            url: 'https://localhost:7031/Program/GetActiveProgramCount',
            type: 'GET',
            success: function (data) {
                // Update the department count in the card
                $('#ProgramCount').text(data);
            },
            error: function (xhr, status, error) {
                console.error(error);
                $('#ProgramCount').text('Error');
            }
        });
    });
    $(document).ready(function () {
        // Make an AJAX GET request to the API
        $.ajax({
            url: 'https://localhost:7031/auth/GetTeacherCount',
            type: 'GET',
            success: function (data) {
                // Update the department count in the card
                $('#TeacherCount').text(data);
            },
            error: function (xhr, status, error) {
                console.error(error);
                $('#TeacherCount').text('Error');
            }
        });
    });

        $(document).ready(function () {
        // Make an AJAX GET request to the API
        $.ajax({
            url: 'https://localhost:7031/Student/GetStudentCount',
            type: 'GET',
            success: function (data) {
                // Update the department count in the card
                $('#StudentCount').text(data);
            },
            error: function (xhr, status, error) {
                console.error(error);
                $('#StudentCount').text('Error');
            }
        });
    });






    $(document).ready(function () {

        // Get user's location
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var lata = position.coords.latitude;
                var lona = position.coords.longitude;
                console.log('hello');
                // Make API request
                $.ajax({
                    url: 'https://api.openweathermap.org/data/2.5/weather',
                    method: 'GET',
                    dataType: 'json',
                    data: {
                        lat: position.coords.latitude,
                        lon: position.coords.longitude,
                        appid: '433459099826eb3884978bde41f5bd0d',
                        units: 'metric'
                    },
                    success: function (response) {
                        // Get the location and weather data from the API response
                        var location = response.name + ', ' + response.sys.country;
                        var weather = response.weather[0].description;
                        var temperature = Math.ceil(response.main.temp);
                        var myhtml =
                            '<div class="d-flex">' +
                            '<h2 class="mb-0 font-weight-normal">' + temperature + '<sup> ' + "C" +
                            ' </sup> </h2> </div>' +
                            '<div class="ml-2"><h4 ' + 'class="location font-weight-normal"' + '>' + response.name +
                            '<h6' + ' class="font-weight-normal"' + '>Pakistan</h6>' +
                            '</div>';


                        $('#myweatherdetail').html(myhtml);
                        // //
                        // <div class="d-flex">
                        //   <div>
                        //     <h2 class="mb-0 font-weight-normal" id="mytemp">31<sup>C</sup></h2>
                        //   </div>
                        //   <div class="ml-2">
                        //     <h4 class="location font-weight-normal" id="myweather" >Gujranwala</h4>
                        //     <h6 class="font-weight-normal" id="myloc">Pakistan</h6>
                        //   </div>
                        //
                        //   '

                        // Update the HTML with the location and weather data
                        console.log(location);
                        console.log(temperature);
                        $('#mycity').text(location);
                        $('#weather').text(weather);
                        $('#mytemp').text(temperature);
                    },
                    error: function (error) {
                        if (error.code == error.PERMISSION_DENIED) {

                            $('#myweatherdetail').html(' ');
                        }
                        console.log(error);
                    }
                });
            });
        }
    });

</script>
