<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Courses Semester</h4>
            <p class="card-description">
                Add Semester <code>.table-striped</code>
            </p>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                Course name
                            </th>
                            <th>
                                Semster 
                            </th>
                          
                            <th>
                                Teacher NAme
                            </th>
                            <th>
                                Credit Hours
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="py-1">
                               Andoid
                            </td>
                            <td>
                                I
                            </td>
                           
                            <td>
                                Sir Ali
                            </td>
                            <td>
                                3
                            </td>
                        </tr>
                      
                        
                      
                 
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>