@{
    Layout = "~/Views/Shared/_FullLayout.cshtml";
}
<div class=" container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="main-panel w-100  documentation">
            <div class="content-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 pt-5">
                            <a class="btn btn-primary" asp-action="Index" asp-controller="Dashboard"><i class="ti-home mr-2"></i>Back to Dashboard</a>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-12 pt-14 text-center">
                            <i class="text-primary mdi mdi-file-document-box-multiple-outline display-1"></i>
                            <h2 class="text-primary font-weight-light mt-5">
                                University of The Punjab
                                <a href="https://pugc.edu.pk/website/" target="_blank" class="text-danger d-block text-truncate">

                                </a>
                                <img src="/images/pu.jpg" style="border-radius: 5px" />
                            </h2>
                            <h3 class="text-primary font-weight-light mt-5">
                                Final Year Project
                                <a href="https://github.com/MBilal403/EduSpaceAPI.git" target="_blank" class="text-danger d-block text-truncate">

                                </a>
                            </h3>
                            <h4 class="mt-4 font-weight-light text-primary">
                                This is our final year project in the field of Computer Science, and I am Muhammad Bilal to serve as the group leader for this endeavor.
                                Together with my talented team members,Muhammad Ali and Romail Bhatti, we have embarked on the development of a Learning Management System (LMS).
                                Our project aims to create a comprehensive platform that facilitates efficient and effective online learning experiences for students and educators alike.
                            </h4>

                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>