@{
    ViewData["FullTitle"] = "New Student";
    var mymessage = ViewBag.MyMessage;
}

<div class="col-12 grid-margin" style="padding-top: 5%">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Create New Student</h4>
            <form class="form-sample" asp-action="CreateStudent" asp-controller="Student" method="post" enctype="multipart/form-data">
                <p class="card-description">
                    Personal info
                </p>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Full Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="fullname" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Email Address</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="emailaddress" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Father Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="fathername" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Roll Number</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="rollnumber" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Gender</label>
                            <div class="col-sm-9">
                                <select class="form-control" name="gender">
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Date of Birth</label>
                            <div class="col-sm-9">
                                <input class="form-control" type="date" placeholder="dd/mm/yyyy" name="dateofbirth" required />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>File upload</label>
                    <input type="file" name="userimage" class="file-upload-default">
                    <div class="input-group col-xs-12">
                        <input type="text" class="form-control file-upload-info" name="userimage" placeholder="Upload Image" required>
                        <span class="input-group-append">
                            <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                        </span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Address</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" id="exampleTextarea1" name="address" rows="4" required></textarea>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" >Phone Number</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" name="contactnumber" required />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">City</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="city"  required />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Session</label>
                            <div class="col-sm-9">
                                <select class="form-control" name="session" >
                                    <option value="2019-23">2019-23</option>
                                    <option value="2020-22">2020-22</option>
                                    <option value="2021-23">2021-23</option>
                                    <option value="2022-24">2022-24</option>
                                </select>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Department</label>
                            <div class="col-sm-9">
                                <select class="form-control" name="department" id="department">
                             
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Program</label>
                            <div class="col-sm-9">
                                <select class="form-control" name="program" id="program">
                                </select>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Semester</label>
                        <div class="col-sm-9">
                            <select class="form-control" name="semester">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mr-2">Submit</button>
            </form>
        </div>
    </div>
</div>


<script>

 
        // Make an AJAX request to retrieve user data
        $(document).ready(function () {
            // Make an AJAX request to retrieve user data
            $.ajax({
                url: 'https://localhost:7031/Department/ActiveDepartment', // Replace with the appropriate API endpoint URL
                type: 'GET',
                success: function (users) {
                    // Extract an array of options using map() function
                    console.log(users);
                    var options = users.map(function (user) {
                        return $(`<option value="${user.departName}">${user.departName}</option>`);
                    });
                    // Append the options to the select element
                    $('#department').append(options);
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log('Error retrieving user data: ' + errorThrown);
                }
            });
        });

        $(document).ready(function () {
            // Make an AJAX request to retrieve user data
            $.ajax({
                url: 'https://localhost:7031/Program/GetAllPrograms', // Replace with the appropriate API endpoint URL
                type: 'GET',
                success: function (users) {
                    // Extract an array of options using map() function
                    console.log(users);
                    var options = users.map(function (user) {
                        return $(`<option value="${user.programName}">${user.programName}</option>`);
                    });
                    // Append the options to the select element
                    $('#program').append(options);
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log('Error retrieving user data: ' + errorThrown);
                }
            });
        });
      
        

</script>